name: my CI test
on: push
jobs:
  job_build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: check
      run: |
        java -version
        javac -version
        mvn -v
    - name: build
      run: |
        mvn compile
  job_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: test
      run: |
        mvn clean test
        awk -F"," '{ instructions += $4 + $5; covered += $5 } END {"COV=", print 100*covered/instructions, }' target/site/jacoco/jacoco.csv >> $GITHUB_ENV
        echo COV
    - name: Create the Badge
      uses: schneegans/dynamic-badges-action@v1.0.0
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 469718707db29b7e96789b125cdbf0d8
        filename: test.json
        label: The Answer is
        message: ${{ env.COV }}
        color: green
    needs: job_build