name: my CI test
on: push
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
    - name: check
      run: |
        - java -version
        - javac -version
        - mvn -v
    - name: build
    - name: test